.volume {
    -webkit-appearance: none;
    width: 100%;
    height: 9px;
    border-radius: 1vh;
    background: RGBA(var(--midground), 0.2);
    outline: none;
    opacity: 0.6;
    transition: opacity 500ms;
}

.volume:hover {
    opacity: 1;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 13px;
    border-radius: 5px;
    background: RGB(var(--highlight));
    cursor: pointer;
}

.volume::-moz-range-thumb {
    width: 22px;
    height: 13px;
    border-radius: 5px;
    background: RGB(var(--highlight));
    cursor: pointer;
}
