.song {
    display: flex;
}

.filter {
    background-color: RGBA(var(--background), 0.9);
    position: sticky;
    top: 0;
    z-index: 1;
}

.filter>*>input {
    width: 100%;
    border-width: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1em;
    background-color: transparent;
    opacity: 0.6;
}

.filter>*>div {
    display: inline;
    vertical-align: middle;
}

.filter>div {
    display: flex;
}
