#submission {
    transition: opacity 500ms;
}

#submission>input[type=text] {
    background-color: RGBA(var(--background), 0.9);
    width: calc(100% - 4px);
    border-width: 0;
    border-bottom-width: 1px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    background-color: transparent;
    opacity: 0.6;
    padding: 2px;
}

#submission>input[type=radio] {
    display: none;
}

#submission>input[type=radio] + label:before {
    content: '';
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    padding: 2px;
    margin-right: 5px;
    background-clip: content-box;
    border: 1px solid RGB(var(--foreground));
    background-color: transparent;
    border-radius: 2px;
}

#submission>input[type=radio]:checked + label:before {
    background-color: RGB(var(--highlight));
}

#submission>input[type=file] {
    display: none;
}

#submission>label {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    color: RGB(var(--midground));
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.button-box {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 0 4px;
    margin: 2px 0;
    margin-right: 5px;
    border: 1px solid RGB(var(--foreground));
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    color: RGB(var(--foreground)) !important;
}

.button-box:hover {
    opacity: 1;
}
