.textbox {
}

.textbox>input {
    width: 100%;
    border-width: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2vh;
    background-color: transparent;
    opacity: 0.6;
}
